header {
  text-align: center;
}

header h1 {
  padding-bottom: 20px;
}

header img {
  /* border-width: 100px; */
  border-radius: 50%;
}

p,
h2 {
  margin: 20px;
}

ul,
ol {
  margin-left: 40px;
  line-height: 1.5rem;
}

h2 {
  color: #017bfe;
  font-weight: 700;
  border-bottom: 4px solid #017bfe;
}
